body {
    background-color: lightpink;
}

#checklist {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.contents {
    background-color: linen;
    display: flex;
    border-bottom: 1px solid lightslategray;
    box-shadow: 5px 5px #88888836;
}

.contents:first-child {
    border-radius: 10px 10px 0 0;
}

.contents:last-child {
    border-radius: 0 0 10px 10px;
}

.checkboxes {
    padding: 13px;
    border-right: 1px solid lightslategray;
}

label {
    padding: 0 10px 0 10px;
    align-self: center;
    line-height: 30px;
}